// Main content wrappers
.col-full {
  @include desktop {
    max-width: $desktop;
  }
  @include widescreen {
    max-width: $desktop;
  }
  @include fullhd {
    max-width: $widescreen;
  }
}

#page {
  padding: 16px 0 0 0;
  position: relative;
  z-index: 2;
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
  @include mobile {
    padding-top: 10px;
  }
}

.site-content {
  padding-top: 48px;
}

.content-area {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.storefront-full-width-content {
  .site-content {
    padding-top: 0;
  }
}

// Titles
.entry-title, .page-title {
  font-size: 30px;
  font-weight: 800;
  color: $color1;
  letter-spacing: -1px;
  @include mobile {
    font-size: 24px;
  }

  &.title-size-2 {
    font-size: 33px;
    @include mobile {
      font-size: 30px;
    }
  }

  &.title-size-3 {
    font-size: 55px;
    @include mobile {
      font-size: 40px;
    }
  }

  &.title-size-4 {
    font-size: 45px;
  }
}

// Buttons
.button, .submit {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 18px 30px;
  font-size: 16px;
  border-radius: 36px !important;
  color: #fff;
  font-weight: 500;
  background: $color5;
  transition: all 0.15s ease-in-out;
  &:hover{
    background: #155bff;
    color:#fff;
  }

  &.size-2, &.btn-size-2, &.submit {
    font-weight: 700;
    //padding: 15px 30px;
    //font-size: 16px;
    @include mobile {
      padding: 13px 23px;
      font-size: 14px;
    }
  }
}

.button.alt{
  @extend .button;
  background:#727C89;
  &:hover{
    background:$color1;
  }
}

.button1 {
  @extend .button;
  background: $color5;
}

.button2 {
  @extend .button;
  background: $color3;
}

.button.add_to_cart_button {
  width: 100%;
  text-align: center;
  padding: 15px 28px;
  font-size: 16px;
  font-weight: 700;

  &:before {
    @include sprite($icon-cart-2);
    content: "";
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
  }
}

// Button get free plugin
.button.get-free-plugin-btn {
  font-size: 16px;
  font-weight: 500;
  background: $color3;
  vertical-align: middle;
  padding: 17px 24px 17px 23px;

  &:hover {
    background: #202830;
  }

  &:before {
    @include sprite($icon-link-new-tab);
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }

  .label {
    vertical-align: middle;
  }
}

// Button buy licenses
.button.buy-licenses-btn {
  * {
    //pointer-events: none
  }

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  //padding: 17px 24px 17px 23px;
  padding: 0 24px 0 23px;
  position: relative;

  &:after {
    @include sprite($icon-arrow-down-2);
    content: "";
    display: inline-block;
    vertical-align: middle;
    //border-left:1px solid rgba(255, 255, 255, .24);
    //height:100%;
    //border:1px solid red;
  }

  .label {
    padding: 17px 10px 17px 0;
    font-size: 16px;
    font-weight: 500;
    border-right: 1px solid rgba(255, 255, 255, .24);
    display: inline-block;
    vertical-align: middle;
  }

  /*font-size: 16px;
  font-weight: 500;
  background: $color3;
  vertical-align: middle;
  padding: 17px 24px 17px 23px;

  &:hover {
    background: #202830;
  }

  &:before {
    @include sprite($icon-link-new-tab);
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }

  .label {
    vertical-align: middle;
  }*/

  .buy-licenses {
    right: -15px !important;
    @include mobile {
      right: 0 !important;
      left: 50% !important;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:hover {
    .buy-licenses {
      margin-top: 0px;
      pointer-events: auto;
      opacity: 1;
    }
  }
}

// Boxes.
.box-dropdown {
  border-radius: 6px;
  border: 1px solid #F2F5FA;
  background: #FFF;
  box-shadow: 0px 12px 12px 0px rgba(57, 65, 73, 0.12);
  padding: 18px 23px;
  position: absolute;
  bottom: auto;
  right: 0;

  &:before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    right: 30px;
    top: -10px;
  }

  margin-top: -15px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  * {
    //pointer-events: none;
  }

  opacity: 0;

  //opacity:0;
  /*&.active {
    opacity: 1;
    margin-top: -15px;
    pointer-events: auto;

    * {
      pointer-events: auto;
    }

    &:hover {
      opacity: 1;
      margin-top: -15px;
      pointer-events: auto;
    }
  }*/

}

// Typography

// Text Colors
.txt-color-1 {
  color: $color1
}

.txt-color-2 {
  color: $color2
}

.txt-color-3 {
  color: $color3
}

.txt-color-4 {
  color: $color4
}

.txt-color-5 {
  color: $color5
}

.txt-color-6 {
  color: $color6
}

.txt-color-7 {
  background: $color7;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-color-8 {
  color: $color8;
}

.txt-color-white {
  color: #fff;
}

.txt-size-1 {
  font-size: 14px
}

.txt-size-2 {
  font-size: 16px
}

.txt-size-3 {
  font-size: 20px
}

.txt-size-4 {
  font-size: 30px
}

.txt-size-5 {
  font-size: 40px
}

.has-text-centered {
  text-align: center;
}

.txt-weight-1 {
  font-weight: 500;
}

.txt-weight-2 {
  font-weight: 700;
}

.txt-weight-3 {
  font-weight: 800;
}

// Links
/*a {
  color: $color1;

  &:link:hover {
    color: $color2;
  }
}*/

/*.wpft-article-container{
  a{
    color:$color2;
  }
}*/

.has-text-centered {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

// Image sizes
img.attachment-size-1 {
  min-height: 112px;
  width: auto;
}

.round-check-list-item {
  font-size: 14px;


  &:before {
    content: " ";
    display: inline-block;
    @include sprite($icon-ok);
    vertical-align: text-top;
    margin: 0 10px 0 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
  }
}

.round-check-list-item-type2 {
  @extend .round-check-list-item;

  &:before {
    filter: invert(36%) sepia(87%) saturate(1061%) hue-rotate(134deg) brightness(75%) contrast(91%);
  }
}

// Tables
table.wpft-table-type-1 {
  //background: #f8f9f9;
  background: #F2F5FA;
  border-radius: 12px;
  border-collapse: separate !important;
  //overflow: hidden;
  //overflow-y:hidden;
  th {
    background: transparent;
  }

  thead {
    color: rgba(26, 45, 201, 1);
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    //letter-spacing: -0.03em;
    text-align: left;

    th {
      font-weight: 800;
      //padding-top: 21px;
      //padding-bottom: 21px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  td {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    letter-spacing: 0em;
    text-align: left;
    border-top: 1px solid rgba(227, 229, 231, 1);

    &.checked-yes {
      text-align: center;

      &:after {
        @include sprite($icon-checked-yes);
        content: '';
        display: inline-block;
      }
    }

    &.checked-no {
      text-align: center;

      &:after {
        @include sprite($icon-checked-no);
        content: '';
        display: inline-block;
      }
    }
  }

  @include mobile {
    caption {
      font-size: 1.3em;
    }

    //table:not( .has-background ) tbody tr:nth-child(2n) td, fieldset, fieldset legend {
    tbody tr:nth-child(2n) td:first-child {
      background: transparent;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;

      &:first-child {
        td:first-child {
          border-top: none;
        }
      }
    }

    td {
      display: block;
      font-size: .8em;
      text-align: right !important;
      text-align: right;
      width: 100% !important;
      //background: rgba(255, 255, 255, 0.95) !important;

      &:first-child {
        //border-top:none;
        //font-weight: 800;
        font-size: 16px;
        background: transparent;
        //background: #fff !important;
        text-align: left !important;
        //color: rgba(26, 45, 201, 1);
        //text-align: center;
      }
    }

    tfoot {
      td {
        text-align: center !important;
      }
    }

    td::before {
      content: attr(data-label);
      float: left;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}

// Image container with a shape in the background
.img-wrapper-type-1 {
  background: center no-repeat url('/src/img/img-bkg.png');
  width: 442px;
  min-height: 500px;
  //text-align:center;
  position: relative;
  display: grid;
  place-content: center;

  img {
    margin: 0;
  }

  @include mobile {
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: auto;
  }
}

// Loader
.wpft-loader-core {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 0px 0 0 0;
  border: solid 8px #fff;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.4s ease-in;
  animation-name: rotate;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bkg-loader {
  &.is-loading {
    &:after {
      @extend .wpft-loader-core;
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-width: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
    }
  }
}

.btn-loader {
  &.is-loading {
    &:after {
      @extend .wpft-loader-core;
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin: 0px -3px 0 10px;
      border-width: 3px;
    }
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}