.menu-footer-container {
  ul{
    list-style: none;
    padding:0;
    margin:0;
  }

  a{
    text-decoration: none;
  }

  .menu {
    //@extend .columns;

    margin-left: 0;
    margin-right: 0;
    //@extend .is-marginless;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      > li {
        > a {
          border-bottom: 1px solid #efefef;
          padding-bottom: 3px;
          width: 100%;
          display: block;
          margin-bottom: 0px;
        }
      }
    }

    // Parent menu item
    > li {
      //@extend .is-one-fifth;
      //@extend .column;

      font-size: 16px;
      font-weight: 700;
      margin: 0 0 25px 0;

      > a{
        cursor: text ;
        pointer-events: none;
      }

      // Last column: Social icons.
      &:last-child li a {
        &:hover {
          text-decoration: none;

          span {
            text-decoration: underline;
          }
        }
      }
    }

    .sub-menu {
      margin-top: 10px;
    }

    // Submenu item
    li li {
      font-size: 14px;
      font-weight: 400;
      color: $color3;
      line-height: 20px;

      a {
        display: block;
        width: 100%;
        color: $color3;
        text-decoration: none;
        padding: 5px 0;

        span {

        }

        &:hover {
          color: $color2;
          text-decoration: underline;
        }

      }

      // Submenu item icons
      i {
        margin-right: 7px;
      }
    }
  }
}