html, body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

// Container
/*.wpf-container {
  //@extend .container;
  //@extend .is-fluid;
  position: relative;
  @include desktop {
    width: $desktop !important;
  }
  @include widescreen {
    width: $widescreen !important;
  }
  @include fullhd {
    width: $fullhd !important;
  }
}*/

// Colors
$color1: #14243a;
$color2: #0ea0dc;
$color3: #727C89;
$color4: #989898;
$color5: #1A2DC9;
$color6: #A1A7B1;
$color7: linear-gradient(180deg, #1A2DC9 calc(30% + 1px), #02F4A1 calc(75% + 1px)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
$color8: #435062;

// Links
/*a {
  color: $color1;

  &:link:hover {
    color: $color2;
  }
}*/
a:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  //background-color: #eee;
  //color: white;
}

// Hide menu item labels
.wpft-hide-label {
  .hide {
    display: none !important;
  }
}

// Round white box
.wpft-round-white-box {
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 0.45);
}

// Backgrounds
.white-bkg {
  background: #fff;
}

// Circle background
.main-bkg {
  //background: linear-gradient(357.99deg, #F2F5FA 2.4%, #FFFFFF 99.01%);
  background: linear-gradient(180deg, #FFFFFF 14.9%, #F2F5FA 37.72%);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  display: none;

  svg {
    position: relative;
    top: -8%;
    right: -3%;
    width: 100%;
    height: 100%;
    @include mobile {
      height: auto;
      right: 35%;
      top: 0;
      width: auto;
    }
  }

  @include mobile {
    position: fixed;
  }

}

.bkg-blue {
  background: linear-gradient(181.02deg, #14243B 15.51%, #1A2DC9 98.36%);
}

.bkg-blue-2 {
  background: center no-repeat url('/src/img/bkg-blue-2.jpg');
  border-radius: 12px;
  background-size: cover;
}

.single-product, .home {
  .main-bkg {
    display: block;;
  }
}

.img-align-right {
  margin-left: auto;
}

.column {
  @include mobile {
    //margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.is-justify-content-space-between {
  justify-content: space-between;
}