html, body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

// Colors
$color1: #14243a;
$color2: #0ea0dc;
$color3: #727C89;
$color4: #989898;

// Container
/*.wpf-container {
  //@extend .container;
  //@extend .is-fluid;
  position: relative;
  @include desktop {
    width: $desktop !important;
  }
  @include widescreen {
    width: $widescreen !important;
  }
  @include fullhd {
    width: $fullhd !important;
  }
}*/

.col-full{
  @include desktop {
    max-width:$desktop;
  }
  @include widescreen {
    max-width: $desktop;
  }
  @include fullhd {
    max-width: $widescreen;
  }
}
// Main wrapper
#page {
  padding: 16px 0 0 0;
}

// Links
/*a {
  color: $color1;

  &:link:hover {
    color: $color2;
  }
}*/
a:focus{
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  //background-color: #eee;
  //color: white;
}

// Hide menu item labels
.wpft-hide-label{
  .hide{
    display:none !important;
  }
}

// Round white box
.wpft-round-white-box{
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 0.45);
}