.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-navigation{
  float:left;
}
.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-content{
  float:right;
  margin-right:0;
}