// Default modules and sections
.wpftpb-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #fff;

  &.layout_reverse {
    .columns {
      flex-direction: row-reverse;

      .mod-img-wrapper img {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.wpftpb-mod {
  .mod-img-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;

    img {
      box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 0.45);
      margin-left: auto;
      @include mobile {
        margin-right: auto;
      }
    }
  }
}

// Product feature section
.prod-feature-section {
  padding-bottom: 0px;

  .mod-img-wrapper {
    background: center no-repeat url('/src/img/img-bkg.png');
    width: 442px;
    min-height: 500px;
    //text-align:center;
    position: relative;
    display: grid;
    place-content: center;

    img {
      margin: 0;
    }

    @include mobile {
      width: auto;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: auto;
    }
  }

  &:last-child {
    padding-bottom: 60px;
  }
}

// Intro section
.intro-section {
  padding-top: 0;
  background: none;

  .wpft-mod-footer {
    @include mobile {
      justify-content: space-around;
    }
  }

  .wpft-mod-description {
    @include mobile {
      p {
        margin-bottom: 20px;
      }
    }

  }

  .product-img-wrapper img {
    @include mobile {
      margin: 0 auto;
    }
  }

  .number-and-text {
    margin: 0 0 0 20px;

    &:last-child {
      margin-right: 0;
    }

    div:first-child {
      font-size: 30px;
      font-weight: 800;
      line-height: 24px;
      color: #000;
      margin-bottom: 10px;
    }

    div:last-child {
      font-size: 14px;
      white-space: pre-line;
      line-height: 14px;
      color: #A1A7B1;
      display: inline-block;
      max-width: min-content;
    }
  }
}

.round-check-list-item {
  font-size: 14px;

  &:before {
    content: " ";
    display: inline-block;
    @include sprite($icon-ok);
    vertical-align: text-top;
    margin: 0 10px 0 0;
  }
}

// Pricing section
.wpftpb-section {
  &.pricing-section {
    @extend .bkg-blue;

    .wpft-bundle-select {
      width: 100%;
      font-size: 14px;
    }

    .select2-container {
      font-size: 14px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
      border-color: #aaa;
    }

    .wpft-bundle-intro {
      font-weight: 500;
      font-size: 14px;
      color: #14243B;
      margin-bottom: 15px;
    }

    hr {
      background-color: #E3E5E7;
    }

    .box-license-type {
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
    }

    .box-license-title {
      padding: 12px 25px;
      background: #F2F5FA;
      @extend .txt-color-5;
      @extend .txt-size-3;
      @extend .txt-weight-3;
    }

    .box-license-content {
      padding: 12px 25px 26px;
    }

    .variation_features {
      dt, dd {

      }

      dt {
        @extend .round-check-list-item;
        margin-right: 5px;
        float: left;
        color: #14243B;
      }

      dd {

      }

    }

    .prod-thumb {
      width: 60px;
      height: 60px;
      display: block;
      box-shadow: 0px 12px 24px rgba(114, 124, 137, 0.24);
      border-radius: 12px;
      text-align: center;
      //vertical-align: middle;
      img {
        width: 40px;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .prod-title {
      color: #14243B;
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      /*vertical-align: middle;
      display: inline-block;*/
    }

    .bundle-price {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
    }

    .savings {
      background: #B25E47;
      border-radius: 18px;
      font-weight: 700;
      font-size: 12px;
      padding: 4px 8px;
      color: #fff;
      display: inline-block;
      vertical-align: sub;
      margin: 0 0 15px 0;
    }

  }
}

// FAQ
.wpftpb-section.faq-section {
  .question-wrapper {
    background: #FFFFFF;
    border: 1px solid #F2F5FA;
    border-radius: 12px;
    padding: 30px;
    font-size: 24px;
    font-weight: 600;
    line-hieght: 36px;
    color: #14243B;
    position: relative;

    &.is-active {
      border-width: 1px;
      border-color: #F2F5FA;
    }

    &:hover {
      background: linear-gradient(107.56deg, rgba(39, 33, 103, 0.24) 0%, rgba(144, 104, 252, 0.24) 100%);
      border-radius: 12px;
      color: #fff;
      cursor: pointer;

      .open-question-btn {
        background: #007DFC;
      }

      > * {
        color: #fff
      }
    }

    > * {
      font-size: 24px;
      font-weight: 600
    }

    .open-question-btn {
      width: 36px;
      height: 36px;
      background: #14243B;;
      position: absolute;
      bottom: 12px;
      right: 12px;
      border-radius: 50px;
      padding: 0;
      text-align: center;

      &:hover {
        background: #007DFC;
      }

      &:after {
        @include sprite($icon-open-popup);
        content: "";
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        margin: auto auto;
        top: 0;
        bottom: 0;
      }
    }
  }
}

// FAQ - Modal answers
.modal-answers {

  .splide__arrow--prev {
    left: 15px;
  }

  .splide__arrow--next {
    right: 15px;
  }

  .answer-label {
    color: #727C89;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .question-and-answer {
    text-align: left;

    h3 {
      font-weight: 800;
      font-size: 30px;
      line-height: 42px;
      color: #14243B;
      margin-bottom: 40px;
    }

    .answer {
      color: #14243B;
    }
  }

  @include mobile {

    .splide__arrows {
      display: none;
    }
  }
}

// Product Category section
.wpftpb-section.prod-category-section {
  backgrund: red !important;

  .button.see-all{
    margin:20px 0 30px;
    padding:18px 34px;
    font-size:16px;
  }

  .wpft-mod-description {
    line-height: 28px;
    margin-bottom: 40px;
  }

  .entry-title {
    font-size: 48px;
    margin-bottom: 35px;
  }

  .features {
    margin: 0;
    list-style: none;

    li {
      font-size: 14px;
      color: $color1;
      margin-bottom: 21px;
    }
  }

  .product-wrapper {
    background: linear-gradient(180deg, #F2F5FA 0%, rgba(248, 249, 249, 0.5) 100%);
    border-radius: 12px;
  }

  .product-title {
    color: $color1;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin:0 0 5px 0;
    a{
      color:$color1;
      &:hover{
        color:$color2;
      }
    }
  }

  .product-tag {
    padding: 4px 6px;
    background: #E3E5E7;
    border-radius: 6px;
    color: #727C89;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin:0 3px 0 0;
    &:hover{
      color:#000000;
    }
    &:last-child{
      margin-right:0;
    }
  }

}