// Default modules and sections
.wpftpb-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #fff;

  .columns {

  }

  //flex-direction: row-reverse;

  &.even {
    .columns {
      //flex-direction: row;

      .mod-img-wrapper img {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.wpftpb-mod {

  .entry-title{
    color: #14243B;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -1.44px;
  }

  .mod-img-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;

    img {
      filter: drop-shadow(0px 11px 17px rgba(114, 124, 137, 0.24));
      margin-left: auto;
      @include mobile {
        margin-right: auto;
      }
    }
  }
}

// Help
.wpftpb-mod-wrapper-prod_help {
  .entry-title {
    color:#fff;
  }
}

// Help
.wpftpb-mod-wrapper-explore_plugins {
  .entry-title {
    color:#fff;
  }
}

// Product feature section
//.prod-feature-section {
.wpftpb-mod-wrapper-prod_feature {
  padding-bottom: 0px;

  .entry-title{
    text-align: left;
  }

  .mod-img-wrapper {
    @extend .img-wrapper-type-1;
  }

  .columns {
    flex-direction: row-reverse;
  }

  &.even .columns {
    flex-direction: row;
  }
}

// Multiple features (Incredible features);
.wpftpb-mod-wrapper-prod_multi_features {
  .wpft-mod-description{
    color: #14243B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}

// Intro section from home and product modules
.intro-section {
  padding-top: 0;
  background: none;
  margin-top: 20px;

  .entry-title{
    text-align: left;
  }

  .wpft-mod-footer {
    @include mobile {
      justify-content: space-around;
    }
  }

  .wpft-mod-description {
    @include mobile {
      p {
        margin-bottom: 20px;
      }
    }
  }

  .product-img-wrapper img {
    @include mobile {
      margin: 0 auto;
    }
  }

  .number-and-text {
    margin: 0 0 0 20px;

    &:last-child {
      margin-right: 0;
    }

    div:first-child {
      font-size: 30px;
      font-weight: 800;
      line-height: 24px;
      color: #000;
      margin-bottom: 10px;
    }

    div:last-child {
      font-size: 14px;
      white-space: pre-line;
      line-height: 14px;
      color: #A1A7B1;
      display: inline-block;
      max-width: min-content;
    }
  }
}

.wpftpb-mod-wrapper-home_intro{
  .entry-title{
    font-size:55px;
  }
}

// Pricing section
.wpftpb-section.wpftpb-mod-wrapper-prod_licensing {
  @extend .bkg-blue;

  .entry-title{
    color:#fff;
  }

  .switcher-btns-wrapper {
    //display: inline-block;
    border-radius: 12px;
    background: linear-gradient(180deg, #0F1B2D 0%, #162652 100%);
    padding: 12px;
  }

  .switcher-btn {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 12px;
    opacity: 0.23999999463558197;
    background: none;
    color: #fff;
    @include mobile {
      padding: 10px 24px;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      color: #14243B;
      font-weight: 800;
      border-radius: 12px;
      background: #FCFBFC;
      box-shadow: 0px 12px 24px 0px rgba(114, 124, 137, 0.24);
    }
  }

  .wpft-bundle-select {
    width: 100%;
    font-size: 14px;
  }

  .select2-container {
    font-size: 14px;
  }

  .subtitle {
    line-height: 36px;
    color: rgba(161, 167, 177, 1);
    font-weight: 500;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #aaa;
  }

  .wpft-bundle-intro {
    font-weight: 500;
    font-size: 14px;
    color: #14243B;
    margin-bottom: 15px;
  }

  hr {
    background-color: #E3E5E7;
  }

  .box-license-type {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: separate !important;
  }

  .box-license-title {
    padding: 12px 25px;
    background: #F2F5FA;
    @extend .txt-color-5;
    @extend .txt-size-3;
    @extend .txt-weight-3;
  }

  .box-license-content {
    padding: 12px 25px 26px;
    .entry-title{
      color:#14243B;
      text-align: left;
    }
  }

  .variation_features {
    dt, dd {

    }

    dt {
      @extend .round-check-list-item;
      margin-right: 5px;
      float: left;
      color: #14243B;
    }

    dd {

    }

  }

  .prod-thumb {
    width: 60px;
    height: 60px;
    display: block;
    box-shadow: 0px 12px 24px rgba(114, 124, 137, 0.24);
    border-radius: 12px;
    text-align: center;
    //vertical-align: middle;
    img {
      width: 40px;
      min-height: auto;
      height: auto;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .prod-title {
    color: #14243B;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    /*vertical-align: middle;
    display: inline-block;*/
  }

  .formatted-price {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }

  .savings {
    background: #B25E47;
    border-radius: 18px;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    display: inline-block;
    vertical-align: sub;
    margin: 0 0 15px 0;
    word-spacing: 4px;
  }

  .free-vs-pro-table-wrapper {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }

  .premium-boxes {
    display: none;

    &.active {
      display: flex;
    }
  }

  .free-vs-pro-table {
    margin-bottom: 0;

    @include mobile {
      tfoot {
        tr td:first-child {
          display: none;
        }
      }
    }

    td {
      //background: #f8f9f9;
    }

    tbody .text-col {
      padding-left: 29px;
      @include mobile {
        padding-left: 21px;
      }
    }

    thead {
      .text-col, .free-col {
        //background: #f2f5fa;
      }
    }

    .free-col, .pro-col {
      width: 200px;
      text-align: center;
    }

    .pro-col {
      //background: #fff;
    }

    .full-col {
      color: #959595;
      //background: rgba(255, 255, 255, 0.92);
      //color: #000;
      //font-size: 20px;
      font-weight: 800;
      text-align: left;
    }
  }

  .buy-licenses {
    display: flex;
    flex-wrap: wrap;
    //max-width: 350px;
    justify-content: space-between;
    right: 20px;
    //min-width:350px;
    width: 350px;

    dt {
    }

    dd {
      margin-bottom: 30px;

      &:last-child {
        margin: 0;
      }
    }

    .buy-license {
      color: #14243B;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:before {
        content: "";
        display: inline-block;
        vertical-align: text-top;
        margin: 0 10px 0 0;
      }

      &.single {
        &:before {
          @include sprite($icon-single-price);
        }
      }

      &.bundle {
        &:before {
          @include sprite($icon-bundle);
        }
      }

      &.all-plugins {
        &:before {
          @include sprite($icon-all-plugins);
        }
      }

      &:hover {
        color: $color2;
      }
    }

    .licenses-price {
      border-radius: 12px;
      background: #14243B;
      padding: 2px 10px;
      color: #FFF;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      //top:-1px;
      position: relative;
      //margin:0;
    }
  }
}

// FAQ
.wpftpb-section.faq-section {
  .question-wrapper {
    background: #FFFFFF;
    border: 1px solid #F2F5FA;
    border-radius: 12px;
    padding: 30px;
    font-size: 24px;
    font-weight: 600;
    line-hieght: 36px;
    color: #14243B;
    position: relative;

    &.is-active {
      border-width: 1px;
      border-color: #F2F5FA;
    }

    &:hover {
      background: linear-gradient(107.56deg, rgba(39, 33, 103, 0.24) 0%, rgba(144, 104, 252, 0.24) 100%);
      border-radius: 12px;
      color: #fff;
      cursor: pointer;

      .open-question-btn {
        background: #007DFC;
      }

      > * {
        color: #fff
      }
    }

    > * {
      font-size: 24px;
      font-weight: 600
    }

    .open-question-btn {
      width: 36px;
      height: 36px;
      background: #14243B;;
      position: absolute;
      bottom: 12px;
      right: 12px;
      border-radius: 50px;
      padding: 0;
      text-align: center;

      &:hover {
        background: #007DFC;
      }

      &:after {
        @include sprite($icon-open-popup);
        content: "";
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        margin: auto auto;
        top: 0;
        bottom: 0;
      }
    }
  }
}

// FAQ - Modal answers
.modal-answers {

  .splide__arrow--prev {
    left: 15px;
  }

  .splide__arrow--next {
    right: 15px;
  }

  .answer-label {
    color: #727C89;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .question-and-answer {
    text-align: left;

    h3 {
      font-weight: 800;
      font-size: 30px;
      line-height: 42px;
      color: #14243B;
      margin-bottom: 40px;
    }

    .answer {
      color: #14243B;
    }
  }

  @include mobile {

    .splide__arrows {
      display: none;
    }
  }
}

// Product Category section
.wpftpb-mod-wrapper-home_prod_cat {
  backgrund: red !important;

  .button.see-all {
    margin: 20px 0 30px;
    padding: 18px 34px;
    font-size: 16px;
  }

  .wpft-mod-description {
    line-height: 28px;
    margin-bottom: 40px;
  }

  .entry-title {
    text-align: left;
    margin-bottom: 35px;
  }

  .features {
    margin: 0;
    list-style: none;

    li {
      font-size: 14px;
      color: $color1;
      margin-bottom: 21px;
    }
  }

  .product-wrapper {
    background: linear-gradient(180deg, #F2F5FA 0%, rgba(248, 249, 249, 0.5) 100%);
    border-radius: 12px;
  }

  .mod-img-wrapper {
    @extend .img-wrapper-type-1;
  }

  .product-title {
    color: $color1;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin: 0 0 5px 0;

    a {
      color: $color1;

      &:hover {
        color: $color2;
      }
    }
  }
}

// Reviews and statistics section
.wpftpb-mod-wrapper-prod_reviews, .wpftpb-mod-wrapper-home_reviews {
  margin-top: 60px;
  background: linear-gradient(180deg, #F2F5FA 14.9%, #FFFFFF 37.72%);



  .initial-reviews {
    padding: 40px 60px;
    @include mobile {
      padding: 30px 30px;
    }
    background: linear-gradient(180deg, #F2F5FA 14.9%, #FFFFFF 37.72%);
    box-shadow: 0px 12px 24px rgba(114, 124, 137, 0.12);
    border-radius: 12px;

    .columns.splide__list {
      transition: all 0.3s ease-in-out;
      align-items: flex-start;
    }

    .splide__slide {
      transition: all 0.3s ease-in-out;
    }

    .splide__slide:not(.is-active) {
      //height:0;
      //height: 0;    // or 100vh, or something what fits your case
    }
  }

  .initial-reviews-content {
    margin: 40px;
  }

  .review-title {
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    margin: 0 0 20px 0;
  }

  .review-content {
    color: #727C89;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    margin: 0 0 45px 0;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .avatar {
    border-radius: 18px;
  }

  .review-author {
    color: #14243B;
    font-size: 16px;
    font-weight: 800;
  }

  .review-rating {
    margin-right: 13px;
  }

  .review-rating .star {
    @include sprite($icon-star);
    display: inline-block;
  }

  .time-ago {
    font-size: 14px;
    color: #727C89;
    font-weight: 500;
    border-left: 1px solid #F2F5FA;
    padding: 0 0 0 15px;
  }

  .see-all-reviews-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 18px 33px;
    margin: 48px 0 30px;
  }

  .stats-box {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(114, 124, 137, 0.24);
    padding: 60px 36px;

    .value {
      color: #14243B;
      font-size: 90px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -2.7px;
      margin-bottom: 18px;
    }

    .label {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .icon {
        border-radius: 18px;
        background: #ccc;
        padding: 14px 14px;
        display: inline-block;
        font-size: 0;

        &:before {
          font-size: 0;
          content: "";
          display: inline-block;
          vertical-align: middle;
        }

        &.icon-install {
          background: linear-gradient(180deg, #EF8A66 0%, rgba(239, 138, 102, 0.36) 100%);

          &:before {
            @include sprite($icon-install);
          }
        }

        &.icon-wordpress {
          background: linear-gradient(180deg, #1A2DC9 0%, rgba(26, 45, 201, 0.36) 100%);

          &:before {
            @include sprite($icon-wordpress);
          }
        }

        &.icon-rating {
          background: linear-gradient(180deg, #00A0DF 0%, rgba(0, 160, 223, 0.36) 100%);

          &:before {
            @include sprite($icon-star-2);
          }
        }
      }

      .content {
        display: inline-block;
        line-height: normal;
        color: #14243B;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }

  .minor-stat {
    border-left: 3px solid #1A2DC9;
    padding: 0 12px;

    .label {
      color: #A1A7B1;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .value, .value button {
      color: #14243B;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .value button {
      background: none;
      padding: 0;
      text-decoration: underline;

      &:hover {
        color: $color2;
      }
    }
  }
}

// Home reviews;
.wpftpb-mod-wrapper-home_reviews {
  background: none;
  padding-bottom:20px;

  .load-more-reviews-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 18px 33px;
    margin: 48px 0 30px;
  }

  .initial-reviews {
    background: none;
    box-shadow: none;
    padding: 0;
    border-radius: unset;
    margin-left: -1.8rem;
    margin-right: -1.8rem;
    @include mobile {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .review-box {
    padding: 24px 24px 36px 24px;
    border: 1px solid #F2F5FA;
    background: #fff;


    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 45%;
    }

    @include desktop {
      width: 30%;
    }
    @include fullhd {
      width: 30%;
    }

    //width:30%;
  }

  .review-content {
    margin: 0 0 0 0;
    color: #727C89;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    p {
      margin-bottom: 15px;
    }
  }
}

// Modal - changelog.
.modal-changelog {
  .modal-title {
    color: #14243B;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    text-align: left;
    margin: 0 0 48px 0;
    @include mobile {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }

  .wpft-modal-content {
    padding: 0px 25px;
    @include mobile {
      padding: 0 20px 15px 15px;
    }
  }

  .content-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    @include mobile {
      display: block;
      //padding: 15px 20px 15px 15px;
    }

    h4 {
      width: 25%;
      border-left: 3px solid #1A2DC9;
      padding: 0 12px;
      font-size: 14px;
      text-align: left;
      font-weight: 800;
      @include mobile {
        width: auto;
        padding: 0 0 3px 0;
        border: none;
        border-bottom: 1px solid #eee;
      }
    }

    ul {
      margin: 0 0 15px 0;
      padding: 0;
      width: 75%;
      text-align: left;
      list-style: none;
      @include mobile {
        width: auto;
        margin-bottom: 0px;
      }

      li {
        @extend .round-check-list-item;
        color: #14243B;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }

  }
}

// Review box
.review-box {
  background: #fff;
  padding: 20px;
  width: 33%;
  border-radius: 12px;
  text-align: left;
  transition: all 0.2s ease-in-out !important;
  &:hover{
    box-shadow: 0px 12px 24px 0px rgba(114, 124, 137, 0.24);
  }
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 93%;
  }
  @include desktop {
    width: 30%;
  }
  @include fullhd {
    width: 20%;
  }

  .review-reference {
    color: #727C89;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

    .product-title, .product-title a {
      font-size: 14px;
      font-weight: 800;
      line-height: normal;
      color: #000;
      display: inline;
    }
    .product-title a:hover{
      //color:$color2;
      text-decoration: underline;
    }
  }
}

// Modal - reviews
.modal-reviews, .modal-wpf-reviews {
  .wpft-modal-content-wrapper {
    background: transparent;
    box-shadow: none;
    min-width: 90%;
    min-height: 80%;
  }

  .wpft-modal-content {
    max-widh: 90%;
  }

  .wpft-modal-close-btn {
    left: -10px;
    top: -20px;
    z-index: 3;
  }

  .review-content {
    color: #727C89;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

}