.storefront-full-width-content.single-product div.product, .single-product div.product {
  .summary {
    width: auto !important;
    float: none !important;
    margin-right: auto !important;
    margin-bottom: auto !important
  }

}