// Top menu
//.wpfactory-primary-navigation {
//.primary-navigation{
.wpft-primary-navigation {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  vertical-align: top;
  margin:-2px 0 0 0;

  .menu {
    @include mobile {
      display: none;
    }
  }

  li a:hover{
    color:$color2;
  }

  .menu {

    margin: 5px 0 0 0;

    // Parent menu item
    > li {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0;
      padding: 0 0 10px 0;

      &.menu-item-has-children > a {
        &:after {
          @include sprite($icon-arrow-down);
          content: "";
          display: inline-block;
          vertical-align: top;
          margin: 10px 0 0 7px;
          opacity: 1;
          transition: opacity .25s;
        }
      }

      &.menu-item-has-children:hover {
        cursor: pointer;

        > a {
          color: $color2;

          &:after {
            opacity: 1;

            transform:rotateZ(180deg);
          }
        }
      }

      &:hover ul {
        opacity: 1;
        pointer-events: auto;
        @include desktop {

        }
        margin-top: 8px;
      }

      a {
        padding: 10px 20px;
        display: block;
      }

    }

    li {

      // Submenu
      ul {
        @extend .wpft-round-white-box;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: .25s;
        position: absolute;
        margin: -5px 0 0 20px;
        padding: 0 0 15px 0;

        &:hover {
          display: block;
        }
      }
    }

    li li {
      padding: 0px 0px 0px 0px;

      a {
        padding: 17px 28px 17px 25px;
      }
    }

    li span {
      display: inline-block;
      vertical-align: bottom;
    }

    // Icons.
    li i {
      color: #0ea0dc;
      position: relative;
      left: -2px;
      vertical-align: bottom;
      margin: 0 10px 0 0;
    }
  }

  a {
    text-decoration: none;
  }
}

