.top-right-navigation {
  //@extend .wpfactory-primary-navigation;
  //@extend .wpft-primary-navigation;
  ul {
    list-style: none;
    margin: 0;
  }

  display: inline-block;
  position: absolute;
  right: -10px;
  top: 12px;
  padding-right: inherit;

  @include mobile {
    display: none;
  }

  .menu {
    > li {
      display: inline-block;
      //vertical-align: bottom;
      vertical-align: top;
      margin: 0 0 0 16px;

      &.wpft-has-icon{
        > a{
          &:before{
            margin-right:0;
            margin-left:0;
            //margin:-3px 9px 0 0;
            //vertical-align: middle;
          }
        }
      }

      > a {
        cursor: pointer;
        padding: 10px 12px;
        color: $color1;
        margin:0;

        &:hover {
          filter: invert(0) sepia(0) saturate(5000%) hue-rotate(346deg) brightness(100%) contrast(100%)
        }

        //filter: hue-rotate(130deg);
      }
    }
  }
}

// Cart icon on top right menu
.wpft-is-header-cart {
  position: relative;

  .product_list_widget {
    height: auto !important;
  }

  > a {
    padding-bottom: 30px !important;
    margin:0;
  }

  /* Cart total */
  .cart-info{
    position:absolute;
    display:none;
  }

  &:hover {
    .widget_shopping_cart {
      top: 0;
      display: block;
      opacity: 1;
      pointer-events: auto;
    }

    .product_list_widget {
      height: auto;
    }
  }

  .site-header-cart {
    float: none !important;
    position: absolute;
    left:25%;
    width: 270px !important;
    top: 20px;
    padding: 0px 0 0 0;
    margin: 0 auto;
    transform: translateX(-50%)
  }

  .widget_shopping_cart {
    @extend .wpft-round-white-box;
    transition: .25s;
    pointer-events: none;
    opacity: 0;
    left: 0;
    top: -12px;
    margin-top: 15px;
  }

  .site-header-cart .widget_shopping_cart .buttons, .site-header-cart .widget_shopping_cart .total {
    background: none;
  }
}
