/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/frontend.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
/**
 * WPFactory theme - Style.
 *
 * @version 1.0.0
 * @since   1.0.0
 * @author  WPFactory
 */
/*
// Bulma
//@import
//"./node_modules/bulma/sass/base/minireset",
//"./node_modules/bulma/sass/utilities/all",
//"./node_modules/bulma/sass/helpers/spacing",
//"./node_modules/bulma/sass/helpers/flexbox",
//"./node_modules/bulma/sass/elements/container",
  //"./node_modules/bulma/sass/grid/columns",
//"./node_modules/bulma/sass/layout/all";
 */
/* Bulma Utilities */
html, body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*.wpf-container {
  //@extend .container;
  //@extend .is-fluid;
  position: relative;
  @include desktop {
    width: $desktop !important;
  }
  @include widescreen {
    width: $widescreen !important;
  }
  @include fullhd {
    width: $fullhd !important;
  }
}*/
@media screen and (min-width: 1024px) {
  .col-full {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1216px) {
  .col-full {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1408px) {
  .col-full {
    max-width: 1216px;
  }
}

#page {
  padding: 16px 0 0 0;
}

/*a {
  color: $color1;

  &:link:hover {
    color: $color2;
  }
}*/
a:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.wpft-hide-label .hide {
  display: none !important;
}

.wpft-round-white-box, .wpft-is-header-cart .widget_shopping_cart, .wpft-primary-navigation .menu li ul {
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0px 11px 20px -12px rgba(0, 0, 0, 0.45);
}

.wpft-icon-account > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -39px -41px;
  width: 18px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-all-plugins > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -44px -22px;
  width: 20px;
  height: 18px;
  content: "";
  display: inline-block;
}

.wpft-icon-all > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -64px 0px;
  width: 20px;
  height: 18px;
  content: "";
  display: inline-block;
}

.wpft-icon-arrow-down > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px -56px;
  width: 10px;
  height: 6px;
  content: "";
  display: inline-block;
}

.wpft-icon-blog > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -64px -18px;
  width: 18px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-bundle > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: 0px 0px;
  width: 23px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-cart > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: 0px -20px;
  width: 21px;
  height: 21px;
  content: "";
  display: inline-block;
}

.wpft-icon-coupon > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -20px -41px;
  width: 19px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-facebook > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px -40px;
  width: 9px;
  height: 16px;
  content: "";
  display: inline-block;
}

.wpft-icon-faq > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -23px -21px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-home > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -18px -61px;
  width: 18px;
  height: 19px;
  content: "";
  display: inline-block;
}

.wpft-icon-instagram > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -54px -61px;
  width: 15px;
  height: 16px;
  content: "";
  display: inline-block;
}

.wpft-icon-linkedin > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px -14px;
  width: 15px;
  height: 14px;
  content: "";
  display: inline-block;
}

.wpft-icon-order > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -44px 0px;
  width: 20px;
  height: 22px;
  content: "";
  display: inline-block;
}

.wpft-icon-product > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -64px -38px;
  width: 20px;
  height: 18px;
  content: "";
  display: inline-block;
}

.wpft-icon-report > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: 0px -61px;
  width: 18px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-search > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -23px 0px;
  width: 21px;
  height: 21px;
  content: "";
  display: inline-block;
}

.wpft-icon-single-price > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -36px -61px;
  width: 18px;
  height: 19px;
  content: "";
  display: inline-block;
}

.wpft-icon-support > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: 0px -41px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
}

.wpft-icon-twitter > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px 0px;
  width: 17px;
  height: 14px;
  content: "";
  display: inline-block;
}

.wpft-icon-youtube > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px -28px;
  width: 15px;
  height: 12px;
  content: "";
  display: inline-block;
}

.wpft-has-icon > a:before {
  margin: -3px 9px 0 0;
  vertical-align: middle;
}

.wpft-icon-facebook a::before {
  margin-left: 3px;
  margin-right: 12px;
}

.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-navigation {
  float: left;
}

.left-sidebar:not(.page-template-template-fullwidth-php) .woocommerce-MyAccount-content {
  float: right;
  margin-right: 0;
}

.wpft-primary-navigation {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  vertical-align: top;
  margin: -2px 0 0 0;
}
@media screen and (max-width: 768px) {
  .wpft-primary-navigation .menu {
    display: none;
  }
}
.wpft-primary-navigation li a:hover {
  color: #0ea0dc;
}
.wpft-primary-navigation .menu {
  margin: 5px 0 0 0;
}
.wpft-primary-navigation .menu > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  padding: 0 0 10px 0;
}
.wpft-primary-navigation .menu > li.menu-item-has-children > a:after {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -84px -56px;
  width: 10px;
  height: 6px;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 0 7px;
  opacity: 1;
  transition: opacity 0.25s;
}
.wpft-primary-navigation .menu > li.menu-item-has-children:hover {
  cursor: pointer;
}
.wpft-primary-navigation .menu > li.menu-item-has-children:hover > a {
  color: #0ea0dc;
}
.wpft-primary-navigation .menu > li.menu-item-has-children:hover > a:after {
  opacity: 1;
  transform: rotateZ(180deg);
}
.wpft-primary-navigation .menu > li:hover ul {
  opacity: 1;
  pointer-events: auto;
  margin-top: 8px;
}
.wpft-primary-navigation .menu > li a {
  padding: 10px 20px;
  display: block;
}
.wpft-primary-navigation .menu li ul {
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
  position: absolute;
  margin: -5px 0 0 20px;
  padding: 0 0 15px 0;
}
.wpft-primary-navigation .menu li ul:hover {
  display: block;
}
.wpft-primary-navigation .menu li li {
  padding: 0px 0px 0px 0px;
}
.wpft-primary-navigation .menu li li a {
  padding: 17px 28px 17px 25px;
}
.wpft-primary-navigation .menu li span {
  display: inline-block;
  vertical-align: bottom;
}
.wpft-primary-navigation .menu li i {
  color: #0ea0dc;
  position: relative;
  left: -2px;
  vertical-align: bottom;
  margin: 0 10px 0 0;
}
.wpft-primary-navigation a {
  text-decoration: none;
}

.top-right-navigation {
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 12px;
  padding-right: inherit;
}
.top-right-navigation ul {
  list-style: none;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .top-right-navigation {
    display: none;
  }
}
.top-right-navigation .menu > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 16px;
}
.top-right-navigation .menu > li.wpft-has-icon > a:before {
  margin-right: 0;
  margin-left: 0;
}
.top-right-navigation .menu > li > a {
  cursor: pointer;
  padding: 10px 12px;
  color: #14243a;
  margin: 0;
}
.top-right-navigation .menu > li > a:hover {
  filter: invert(0) sepia(0) saturate(5000%) hue-rotate(346deg) brightness(100%) contrast(100%);
}

.wpft-is-header-cart {
  position: relative;
  /* Cart total */
}
.wpft-is-header-cart .product_list_widget {
  height: auto !important;
}
.wpft-is-header-cart > a {
  padding-bottom: 30px !important;
}
.wpft-is-header-cart > a {
  margin: 0;
}
.wpft-is-header-cart .cart-info {
  position: absolute;
  display: none;
}
.wpft-is-header-cart:hover .widget_shopping_cart {
  top: 0;
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.wpft-is-header-cart:hover .product_list_widget {
  height: auto;
}
.wpft-is-header-cart .site-header-cart {
  float: none !important;
  width: 270px !important;
}
.wpft-is-header-cart .site-header-cart {
  position: absolute;
  left: 25%;
  top: 20px;
  padding: 0px 0 0 0;
  margin: 0 auto;
  transform: translateX(-50%);
}
.wpft-is-header-cart .widget_shopping_cart {
  transition: 0.25s;
  pointer-events: none;
  opacity: 0;
  left: 0;
  top: -12px;
  margin-top: 15px;
}
.wpft-is-header-cart .site-header-cart .widget_shopping_cart .buttons, .wpft-is-header-cart .site-header-cart .widget_shopping_cart .total {
  background: none;
}

.wpft-handheld-navigation {
  display: none;
  height: 0px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .wpft-handheld-navigation {
    display: block;
  }
}
.wpft-handheld-navigation a {
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.wpft-handheld-navigation li {
  margin: 0px 0;
  border-bottom: 1px solid #efefef;
}
.wpft-handheld-navigation li:last-child {
  border: none;
}
.wpft-handheld-navigation .menu {
  margin: 50px 0 0px 0;
}

.site-navigation-menu-toggle-wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 11px;
  padding-right: inherit;
}
@media screen and (max-width: 768px) {
  .site-navigation-menu-toggle-wrapper {
    display: block;
  }
}
.site-navigation-menu-toggle-wrapper .label {
  display: none;
  margin: 0 2px 0 5px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.site-navigation-menu-toggle-wrapper button.menu-toggle {
  cursor: pointer;
  color: #fff;
  text-align: left;
  float: right;
  position: relative;
  background: #8A63CD;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  padding: 0px 8px 0px 28px;
  min-height: 30px;
}
.site-navigation-menu-toggle-wrapper button.menu-toggle:before {
  transform: translateY(-5px);
}
.site-navigation-menu-toggle-wrapper button.menu-toggle:before, .site-navigation-menu-toggle-wrapper button.menu-toggle:after, .site-navigation-menu-toggle-wrapper button.menu-toggle span.style:before {
  content: "";
  display: block;
  height: 2px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -1px;
  transition: all, ease, 0.2s;
  border-radius: 3px;
  background: #fff;
}
.site-navigation-menu-toggle-wrapper button.menu-toggle:after {
  transform: translateY(5px);
}

.storefront-handheld-footer-bar {
  border-top: 1px solid #fff;
  box-shadow: none;
}

.storefront-handheld-footer-bar ul li a {
  background: #8A63CD;
  border-right: 1px solid #fff;
}
.storefront-handheld-footer-bar ul li > a::before {
  content: "" !important;
}
.storefront-handheld-footer-bar ul li > a::before {
  filter: brightness(5000%) contrast(100%);
  padding: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.storefront-handheld-footer-bar ul li.my-account > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -39px -41px;
  width: 18px;
  height: 20px;
}
.storefront-handheld-footer-bar ul li.search > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -23px 0px;
  width: 21px;
  height: 21px;
}
.storefront-handheld-footer-bar ul li.cart > a::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: 0px -20px;
  width: 21px;
  height: 21px;
}

#masthead {
  margin-bottom: 15px;
}
#masthead .col-full {
  position: relative;
}

.site-header {
  padding-top: 12px;
  border: none;
}

.wpft-main-navigation {
  display: inline-block;
  vertical-align: top;
}
.wpft-main-navigation ul {
  list-style: none;
}

.site-header .site-branding {
  margin: 0 50px 0 0 !important;
  float: none !important;
  width: auto !important;
}

.site-header .site-branding {
  display: inline-block;
  vertical-align: top;
}

.storefront-breadcrumb {
  padding-top: 35px;
}

.woocommerce-breadcrumb a:first-of-type::before {
  background-image: url(..//img/fcafa53646178755dc83.png);
  background-position: -18px -61px;
  width: 18px;
  height: 19px;
  font-family: none;
  content: " ";
  vertical-align: top;
  margin-top: 1px;
  margin-right: 20px;
}
.woocommerce-breadcrumb .breadcrumb-separator {
  margin: 0 15px;
}

.wpft-search-bar {
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease-in-out;
}

.menu-footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-footer-container a {
  text-decoration: none;
}
.menu-footer-container .menu {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 769px), print {
  .menu-footer-container .menu {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .menu-footer-container .menu > li > a {
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
    width: 100%;
    display: block;
    margin-bottom: 0px;
  }
}
.menu-footer-container .menu > li {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 25px 0;
}
.menu-footer-container .menu > li > a {
  cursor: text;
  pointer-events: none;
}
.menu-footer-container .menu > li:last-child li a:hover {
  text-decoration: none;
}
.menu-footer-container .menu > li:last-child li a:hover span {
  text-decoration: underline;
}
.menu-footer-container .menu .sub-menu {
  margin-top: 10px;
}
.menu-footer-container .menu li li {
  font-size: 14px;
  font-weight: 400;
  color: #727C89;
  line-height: 20px;
}
.menu-footer-container .menu li li a {
  display: block;
  width: 100%;
  color: #727C89;
  text-decoration: none;
  padding: 5px 0;
}
.menu-footer-container .menu li li a:hover {
  color: #0ea0dc;
  text-decoration: underline;
}
.menu-footer-container .menu li li i {
  margin-right: 7px;
}

.site-footer {
  padding: 100px 0 0px 0;
  background: linear-gradient(179.14deg, #F2F5FA 0.66%, #FFFFFF 20.97%);
}

/*#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  flex: 1;
}
*/
.site-info-wrapper {
  font-size: 14px;
  color: #727C89;
  border-top: 1px solid #E3E5E7;
  padding: 35px 0;
  margin: 40px 0 0 0;
}
.site-info-wrapper .site-info {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .site-info-wrapper {
    margin-bottom: 100px;
  }
}

.entry-title {
  font-size: 30px;
  font-weight: 800;
  color: #14243a;
}

/*# sourceMappingURL=frontend.css.map*/