// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-account-name: 'icon-account';
$icon-account-x: 65px;
$icon-account-y: 0px;
$icon-account-offset-x: -65px;
$icon-account-offset-y: 0px;
$icon-account-width: 18px;
$icon-account-height: 20px;
$icon-account-total-width: 101px;
$icon-account-total-height: 96px;
$icon-account-image: '/src/spritesmith-generated/sprite.png';
$icon-account: (65px, 0px, -65px, 0px, 18px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-account', );
$icon-all-plugins-name: 'icon-all-plugins';
$icon-all-plugins-x: 0px;
$icon-all-plugins-y: 62px;
$icon-all-plugins-offset-x: 0px;
$icon-all-plugins-offset-y: -62px;
$icon-all-plugins-width: 20px;
$icon-all-plugins-height: 18px;
$icon-all-plugins-total-width: 101px;
$icon-all-plugins-total-height: 96px;
$icon-all-plugins-image: '/src/spritesmith-generated/sprite.png';
$icon-all-plugins: (0px, 62px, 0px, -62px, 20px, 18px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-all-plugins', );
$icon-all-name: 'icon-all';
$icon-all-x: 20px;
$icon-all-y: 62px;
$icon-all-offset-x: -20px;
$icon-all-offset-y: -62px;
$icon-all-width: 20px;
$icon-all-height: 18px;
$icon-all-total-width: 101px;
$icon-all-total-height: 96px;
$icon-all-image: '/src/spritesmith-generated/sprite.png';
$icon-all: (20px, 62px, -20px, -62px, 20px, 18px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-all', );
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 9px;
$icon-arrow-down-y: 80px;
$icon-arrow-down-offset-x: -9px;
$icon-arrow-down-offset-y: -80px;
$icon-arrow-down-width: 10px;
$icon-arrow-down-height: 6px;
$icon-arrow-down-total-width: 101px;
$icon-arrow-down-total-height: 96px;
$icon-arrow-down-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-down: (9px, 80px, -9px, -80px, 10px, 6px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-down', );
$icon-blog-name: 'icon-blog';
$icon-blog-x: 65px;
$icon-blog-y: 20px;
$icon-blog-offset-x: -65px;
$icon-blog-offset-y: -20px;
$icon-blog-width: 18px;
$icon-blog-height: 20px;
$icon-blog-total-width: 101px;
$icon-blog-total-height: 96px;
$icon-blog-image: '/src/spritesmith-generated/sprite.png';
$icon-blog: (65px, 20px, -65px, -20px, 18px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-blog', );
$icon-bundle-name: 'icon-bundle';
$icon-bundle-x: 22px;
$icon-bundle-y: 0px;
$icon-bundle-offset-x: -22px;
$icon-bundle-offset-y: 0px;
$icon-bundle-width: 23px;
$icon-bundle-height: 20px;
$icon-bundle-total-width: 101px;
$icon-bundle-total-height: 96px;
$icon-bundle-image: '/src/spritesmith-generated/sprite.png';
$icon-bundle: (22px, 0px, -22px, 0px, 23px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-bundle', );
$icon-cart-2-name: 'icon-cart-2';
$icon-cart-2-x: 0px;
$icon-cart-2-y: 0px;
$icon-cart-2-offset-x: 0px;
$icon-cart-2-offset-y: 0px;
$icon-cart-2-width: 22px;
$icon-cart-2-height: 21px;
$icon-cart-2-total-width: 101px;
$icon-cart-2-total-height: 96px;
$icon-cart-2-image: '/src/spritesmith-generated/sprite.png';
$icon-cart-2: (0px, 0px, 0px, 0px, 22px, 21px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-cart-2', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 0px;
$icon-cart-y: 21px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: -21px;
$icon-cart-width: 21px;
$icon-cart-height: 21px;
$icon-cart-total-width: 101px;
$icon-cart-total-height: 96px;
$icon-cart-image: '/src/spritesmith-generated/sprite.png';
$icon-cart: (0px, 21px, 0px, -21px, 21px, 21px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-cart', );
$icon-coupon-name: 'icon-coupon';
$icon-coupon-x: 40px;
$icon-coupon-y: 42px;
$icon-coupon-offset-x: -40px;
$icon-coupon-offset-y: -42px;
$icon-coupon-width: 19px;
$icon-coupon-height: 20px;
$icon-coupon-total-width: 101px;
$icon-coupon-total-height: 96px;
$icon-coupon-image: '/src/spritesmith-generated/sprite.png';
$icon-coupon: (40px, 42px, -40px, -42px, 19px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-coupon', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 80px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: -80px;
$icon-facebook-width: 9px;
$icon-facebook-height: 16px;
$icon-facebook-total-width: 101px;
$icon-facebook-total-height: 96px;
$icon-facebook-image: '/src/spritesmith-generated/sprite.png';
$icon-facebook: (0px, 80px, 0px, -80px, 9px, 16px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-facebook', );
$icon-faq-name: 'icon-faq';
$icon-faq-x: 45px;
$icon-faq-y: 22px;
$icon-faq-offset-x: -45px;
$icon-faq-offset-y: -22px;
$icon-faq-width: 20px;
$icon-faq-height: 20px;
$icon-faq-total-width: 101px;
$icon-faq-total-height: 96px;
$icon-faq-image: '/src/spritesmith-generated/sprite.png';
$icon-faq: (45px, 22px, -45px, -22px, 20px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-faq', );
$icon-home-name: 'icon-home';
$icon-home-x: 83px;
$icon-home-y: 0px;
$icon-home-offset-x: -83px;
$icon-home-offset-y: 0px;
$icon-home-width: 18px;
$icon-home-height: 19px;
$icon-home-total-width: 101px;
$icon-home-total-height: 96px;
$icon-home-image: '/src/spritesmith-generated/sprite.png';
$icon-home: (83px, 0px, -83px, 0px, 18px, 19px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-home', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 83px;
$icon-instagram-y: 38px;
$icon-instagram-offset-x: -83px;
$icon-instagram-offset-y: -38px;
$icon-instagram-width: 15px;
$icon-instagram-height: 16px;
$icon-instagram-total-width: 101px;
$icon-instagram-total-height: 96px;
$icon-instagram-image: '/src/spritesmith-generated/sprite.png';
$icon-instagram: (83px, 38px, -83px, -38px, 15px, 16px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-instagram', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 60px;
$icon-linkedin-y: 62px;
$icon-linkedin-offset-x: -60px;
$icon-linkedin-offset-y: -62px;
$icon-linkedin-width: 15px;
$icon-linkedin-height: 14px;
$icon-linkedin-total-width: 101px;
$icon-linkedin-total-height: 96px;
$icon-linkedin-image: '/src/spritesmith-generated/sprite.png';
$icon-linkedin: (60px, 62px, -60px, -62px, 15px, 14px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-linkedin', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 0px;
$icon-ok-y: 42px;
$icon-ok-offset-x: 0px;
$icon-ok-offset-y: -42px;
$icon-ok-width: 20px;
$icon-ok-height: 20px;
$icon-ok-total-width: 101px;
$icon-ok-total-height: 96px;
$icon-ok-image: '/src/spritesmith-generated/sprite.png';
$icon-ok: (0px, 42px, 0px, -42px, 20px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-ok', );
$icon-order-name: 'icon-order';
$icon-order-x: 45px;
$icon-order-y: 0px;
$icon-order-offset-x: -45px;
$icon-order-offset-y: 0px;
$icon-order-width: 20px;
$icon-order-height: 22px;
$icon-order-total-width: 101px;
$icon-order-total-height: 96px;
$icon-order-image: '/src/spritesmith-generated/sprite.png';
$icon-order: (45px, 0px, -45px, 0px, 20px, 22px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-order', );
$icon-product-name: 'icon-product';
$icon-product-x: 40px;
$icon-product-y: 62px;
$icon-product-offset-x: -40px;
$icon-product-offset-y: -62px;
$icon-product-width: 20px;
$icon-product-height: 18px;
$icon-product-total-width: 101px;
$icon-product-total-height: 96px;
$icon-product-image: '/src/spritesmith-generated/sprite.png';
$icon-product: (40px, 62px, -40px, -62px, 20px, 18px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-product', );
$icon-report-name: 'icon-report';
$icon-report-x: 65px;
$icon-report-y: 40px;
$icon-report-offset-x: -65px;
$icon-report-offset-y: -40px;
$icon-report-width: 18px;
$icon-report-height: 20px;
$icon-report-total-width: 101px;
$icon-report-total-height: 96px;
$icon-report-image: '/src/spritesmith-generated/sprite.png';
$icon-report: (65px, 40px, -65px, -40px, 18px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-report', );
$icon-search-name: 'icon-search';
$icon-search-x: 21px;
$icon-search-y: 21px;
$icon-search-offset-x: -21px;
$icon-search-offset-y: -21px;
$icon-search-width: 21px;
$icon-search-height: 21px;
$icon-search-total-width: 101px;
$icon-search-total-height: 96px;
$icon-search-image: '/src/spritesmith-generated/sprite.png';
$icon-search: (21px, 21px, -21px, -21px, 21px, 21px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-search', );
$icon-single-price-name: 'icon-single-price';
$icon-single-price-x: 83px;
$icon-single-price-y: 19px;
$icon-single-price-offset-x: -83px;
$icon-single-price-offset-y: -19px;
$icon-single-price-width: 18px;
$icon-single-price-height: 19px;
$icon-single-price-total-width: 101px;
$icon-single-price-total-height: 96px;
$icon-single-price-image: '/src/spritesmith-generated/sprite.png';
$icon-single-price: (83px, 19px, -83px, -19px, 18px, 19px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-single-price', );
$icon-support-name: 'icon-support';
$icon-support-x: 20px;
$icon-support-y: 42px;
$icon-support-offset-x: -20px;
$icon-support-offset-y: -42px;
$icon-support-width: 20px;
$icon-support-height: 20px;
$icon-support-total-width: 101px;
$icon-support-total-height: 96px;
$icon-support-image: '/src/spritesmith-generated/sprite.png';
$icon-support: (20px, 42px, -20px, -42px, 20px, 20px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-support', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 83px;
$icon-twitter-y: 54px;
$icon-twitter-offset-x: -83px;
$icon-twitter-offset-y: -54px;
$icon-twitter-width: 17px;
$icon-twitter-height: 14px;
$icon-twitter-total-width: 101px;
$icon-twitter-total-height: 96px;
$icon-twitter-image: '/src/spritesmith-generated/sprite.png';
$icon-twitter: (83px, 54px, -83px, -54px, 17px, 14px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-twitter', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 83px;
$icon-youtube-y: 68px;
$icon-youtube-offset-x: -83px;
$icon-youtube-offset-y: -68px;
$icon-youtube-width: 15px;
$icon-youtube-height: 12px;
$icon-youtube-total-width: 101px;
$icon-youtube-total-height: 96px;
$icon-youtube-image: '/src/spritesmith-generated/sprite.png';
$icon-youtube: (83px, 68px, -83px, -68px, 15px, 12px, 101px, 96px, '/src/spritesmith-generated/sprite.png', 'icon-youtube', );
$spritesheet-width: 101px;
$spritesheet-height: 96px;
$spritesheet-image: '/src/spritesmith-generated/sprite.png';
$spritesheet-sprites: ($icon-account, $icon-all-plugins, $icon-all, $icon-arrow-down, $icon-blog, $icon-bundle, $icon-cart-2, $icon-cart, $icon-coupon, $icon-facebook, $icon-faq, $icon-home, $icon-instagram, $icon-linkedin, $icon-ok, $icon-order, $icon-product, $icon-report, $icon-search, $icon-single-price, $icon-support, $icon-twitter, $icon-youtube, );
$spritesheet: (101px, 96px, '/src/spritesmith-generated/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
