// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-account-name: 'icon-account';
$icon-account-x: 100px;
$icon-account-y: 20px;
$icon-account-offset-x: -100px;
$icon-account-offset-y: -20px;
$icon-account-width: 18px;
$icon-account-height: 20px;
$icon-account-total-width: 137px;
$icon-account-total-height: 113px;
$icon-account-image: '/src/spritesmith-generated/sprite.png';
$icon-account: (100px, 20px, -100px, -20px, 18px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-account', );
$icon-all-plugins-name: 'icon-all-plugins';
$icon-all-plugins-x: 0px;
$icon-all-plugins-y: 95px;
$icon-all-plugins-offset-x: 0px;
$icon-all-plugins-offset-y: -95px;
$icon-all-plugins-width: 20px;
$icon-all-plugins-height: 18px;
$icon-all-plugins-total-width: 137px;
$icon-all-plugins-total-height: 113px;
$icon-all-plugins-image: '/src/spritesmith-generated/sprite.png';
$icon-all-plugins: (0px, 95px, 0px, -95px, 20px, 18px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-all-plugins', );
$icon-all-name: 'icon-all';
$icon-all-x: 20px;
$icon-all-y: 95px;
$icon-all-offset-x: -20px;
$icon-all-offset-y: -95px;
$icon-all-width: 20px;
$icon-all-height: 18px;
$icon-all-total-width: 137px;
$icon-all-total-height: 113px;
$icon-all-image: '/src/spritesmith-generated/sprite.png';
$icon-all: (20px, 95px, -20px, -95px, 20px, 18px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-all', );
$icon-arrow-down-2-name: 'icon-arrow-down-2';
$icon-arrow-down-2-x: 0px;
$icon-arrow-down-2-y: 31px;
$icon-arrow-down-2-offset-x: 0px;
$icon-arrow-down-2-offset-y: -31px;
$icon-arrow-down-2-width: 24px;
$icon-arrow-down-2-height: 24px;
$icon-arrow-down-2-total-width: 137px;
$icon-arrow-down-2-total-height: 113px;
$icon-arrow-down-2-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-down-2: (0px, 31px, 0px, -31px, 24px, 24px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-down-2', );
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 119px;
$icon-arrow-down-y: 106px;
$icon-arrow-down-offset-x: -119px;
$icon-arrow-down-offset-y: -106px;
$icon-arrow-down-width: 10px;
$icon-arrow-down-height: 6px;
$icon-arrow-down-total-width: 137px;
$icon-arrow-down-total-height: 113px;
$icon-arrow-down-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-down: (119px, 106px, -119px, -106px, 10px, 6px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-down', );
$icon-arrow-left-name: 'icon-arrow-left';
$icon-arrow-left-x: 119px;
$icon-arrow-left-y: 74px;
$icon-arrow-left-offset-x: -119px;
$icon-arrow-left-offset-y: -74px;
$icon-arrow-left-width: 16px;
$icon-arrow-left-height: 16px;
$icon-arrow-left-total-width: 137px;
$icon-arrow-left-total-height: 113px;
$icon-arrow-left-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-left: (119px, 74px, -119px, -74px, 16px, 16px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-left', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 119px;
$icon-arrow-right-y: 90px;
$icon-arrow-right-offset-x: -119px;
$icon-arrow-right-offset-y: -90px;
$icon-arrow-right-width: 16px;
$icon-arrow-right-height: 16px;
$icon-arrow-right-total-width: 137px;
$icon-arrow-right-total-height: 113px;
$icon-arrow-right-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-right: (119px, 90px, -119px, -90px, 16px, 16px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-right', );
$icon-blog-name: 'icon-blog';
$icon-blog-x: 100px;
$icon-blog-y: 40px;
$icon-blog-offset-x: -100px;
$icon-blog-offset-y: -40px;
$icon-blog-width: 18px;
$icon-blog-height: 20px;
$icon-blog-total-width: 137px;
$icon-blog-total-height: 113px;
$icon-blog-image: '/src/spritesmith-generated/sprite.png';
$icon-blog: (100px, 40px, -100px, -40px, 18px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-blog', );
$icon-bundle-name: 'icon-bundle';
$icon-bundle-x: 0px;
$icon-bundle-y: 55px;
$icon-bundle-offset-x: 0px;
$icon-bundle-offset-y: -55px;
$icon-bundle-width: 23px;
$icon-bundle-height: 20px;
$icon-bundle-total-width: 137px;
$icon-bundle-total-height: 113px;
$icon-bundle-image: '/src/spritesmith-generated/sprite.png';
$icon-bundle: (0px, 55px, 0px, -55px, 23px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-bundle', );
$icon-cart-2-name: 'icon-cart-2';
$icon-cart-2-x: 57px;
$icon-cart-2-y: 0px;
$icon-cart-2-offset-x: -57px;
$icon-cart-2-offset-y: 0px;
$icon-cart-2-width: 22px;
$icon-cart-2-height: 21px;
$icon-cart-2-total-width: 137px;
$icon-cart-2-total-height: 113px;
$icon-cart-2-image: '/src/spritesmith-generated/sprite.png';
$icon-cart-2: (57px, 0px, -57px, 0px, 22px, 21px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-cart-2', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 57px;
$icon-cart-y: 21px;
$icon-cart-offset-x: -57px;
$icon-cart-offset-y: -21px;
$icon-cart-width: 21px;
$icon-cart-height: 21px;
$icon-cart-total-width: 137px;
$icon-cart-total-height: 113px;
$icon-cart-image: '/src/spritesmith-generated/sprite.png';
$icon-cart: (57px, 21px, -57px, -21px, 21px, 21px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-cart', );
$icon-checked-no-name: 'icon-checked-no';
$icon-checked-no-x: 79px;
$icon-checked-no-y: 43px;
$icon-checked-no-offset-x: -79px;
$icon-checked-no-offset-y: -43px;
$icon-checked-no-width: 21px;
$icon-checked-no-height: 20px;
$icon-checked-no-total-width: 137px;
$icon-checked-no-total-height: 113px;
$icon-checked-no-image: '/src/spritesmith-generated/sprite.png';
$icon-checked-no: (79px, 43px, -79px, -43px, 21px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-checked-no', );
$icon-checked-yes-name: 'icon-checked-yes';
$icon-checked-yes-x: 23px;
$icon-checked-yes-y: 55px;
$icon-checked-yes-offset-x: -23px;
$icon-checked-yes-offset-y: -55px;
$icon-checked-yes-width: 21px;
$icon-checked-yes-height: 20px;
$icon-checked-yes-total-width: 137px;
$icon-checked-yes-total-height: 113px;
$icon-checked-yes-image: '/src/spritesmith-generated/sprite.png';
$icon-checked-yes: (23px, 55px, -23px, -55px, 21px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-checked-yes', );
$icon-close-name: 'icon-close';
$icon-close-x: 31px;
$icon-close-y: 0px;
$icon-close-offset-x: -31px;
$icon-close-offset-y: 0px;
$icon-close-width: 26px;
$icon-close-height: 26px;
$icon-close-total-width: 137px;
$icon-close-total-height: 113px;
$icon-close-image: '/src/spritesmith-generated/sprite.png';
$icon-close: (31px, 0px, -31px, 0px, 26px, 26px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-close', );
$icon-coupon-name: 'icon-coupon';
$icon-coupon-x: 100px;
$icon-coupon-y: 0px;
$icon-coupon-offset-x: -100px;
$icon-coupon-offset-y: 0px;
$icon-coupon-width: 19px;
$icon-coupon-height: 20px;
$icon-coupon-total-width: 137px;
$icon-coupon-total-height: 113px;
$icon-coupon-image: '/src/spritesmith-generated/sprite.png';
$icon-coupon: (100px, 0px, -100px, 0px, 19px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-coupon', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 48px;
$icon-facebook-y: 31px;
$icon-facebook-offset-x: -48px;
$icon-facebook-offset-y: -31px;
$icon-facebook-width: 9px;
$icon-facebook-height: 16px;
$icon-facebook-total-width: 137px;
$icon-facebook-total-height: 113px;
$icon-facebook-image: '/src/spritesmith-generated/sprite.png';
$icon-facebook: (48px, 31px, -48px, -31px, 9px, 16px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-facebook', );
$icon-faq-name: 'icon-faq';
$icon-faq-x: 44px;
$icon-faq-y: 55px;
$icon-faq-offset-x: -44px;
$icon-faq-offset-y: -55px;
$icon-faq-width: 20px;
$icon-faq-height: 20px;
$icon-faq-total-width: 137px;
$icon-faq-total-height: 113px;
$icon-faq-image: '/src/spritesmith-generated/sprite.png';
$icon-faq: (44px, 55px, -44px, -55px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-faq', );
$icon-filter-name: 'icon-filter';
$icon-filter-x: 119px;
$icon-filter-y: 38px;
$icon-filter-offset-x: -119px;
$icon-filter-offset-y: -38px;
$icon-filter-width: 18px;
$icon-filter-height: 18px;
$icon-filter-total-width: 137px;
$icon-filter-total-height: 113px;
$icon-filter-image: '/src/spritesmith-generated/sprite.png';
$icon-filter: (119px, 38px, -119px, -38px, 18px, 18px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-filter', );
$icon-home-name: 'icon-home';
$icon-home-x: 119px;
$icon-home-y: 0px;
$icon-home-offset-x: -119px;
$icon-home-offset-y: 0px;
$icon-home-width: 18px;
$icon-home-height: 19px;
$icon-home-total-width: 137px;
$icon-home-total-height: 113px;
$icon-home-image: '/src/spritesmith-generated/sprite.png';
$icon-home: (119px, 0px, -119px, 0px, 18px, 19px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-home', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 64px;
$icon-instagram-y: 55px;
$icon-instagram-offset-x: -64px;
$icon-instagram-offset-y: -55px;
$icon-instagram-width: 15px;
$icon-instagram-height: 16px;
$icon-instagram-total-width: 137px;
$icon-instagram-total-height: 113px;
$icon-instagram-image: '/src/spritesmith-generated/sprite.png';
$icon-instagram: (64px, 55px, -64px, -55px, 15px, 16px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-instagram', );
$icon-install-name: 'icon-install';
$icon-install-x: 0px;
$icon-install-y: 75px;
$icon-install-offset-x: 0px;
$icon-install-offset-y: -75px;
$icon-install-width: 20px;
$icon-install-height: 20px;
$icon-install-total-width: 137px;
$icon-install-total-height: 113px;
$icon-install-image: '/src/spritesmith-generated/sprite.png';
$icon-install: (0px, 75px, 0px, -75px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-install', );
$icon-link-new-tab-name: 'icon-link-new-tab';
$icon-link-new-tab-x: 24px;
$icon-link-new-tab-y: 31px;
$icon-link-new-tab-offset-x: -24px;
$icon-link-new-tab-offset-y: -31px;
$icon-link-new-tab-width: 24px;
$icon-link-new-tab-height: 24px;
$icon-link-new-tab-total-width: 137px;
$icon-link-new-tab-total-height: 113px;
$icon-link-new-tab-image: '/src/spritesmith-generated/sprite.png';
$icon-link-new-tab: (24px, 31px, -24px, -31px, 24px, 24px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-link-new-tab', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 60px;
$icon-linkedin-y: 95px;
$icon-linkedin-offset-x: -60px;
$icon-linkedin-offset-y: -95px;
$icon-linkedin-width: 15px;
$icon-linkedin-height: 14px;
$icon-linkedin-total-width: 137px;
$icon-linkedin-total-height: 113px;
$icon-linkedin-image: '/src/spritesmith-generated/sprite.png';
$icon-linkedin: (60px, 95px, -60px, -95px, 15px, 14px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-linkedin', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 20px;
$icon-ok-y: 75px;
$icon-ok-offset-x: -20px;
$icon-ok-offset-y: -75px;
$icon-ok-width: 20px;
$icon-ok-height: 20px;
$icon-ok-total-width: 137px;
$icon-ok-total-height: 113px;
$icon-ok-image: '/src/spritesmith-generated/sprite.png';
$icon-ok: (20px, 75px, -20px, -75px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-ok', );
$icon-open-popup-name: 'icon-open-popup';
$icon-open-popup-x: 119px;
$icon-open-popup-y: 56px;
$icon-open-popup-offset-x: -119px;
$icon-open-popup-offset-y: -56px;
$icon-open-popup-width: 18px;
$icon-open-popup-height: 18px;
$icon-open-popup-total-width: 137px;
$icon-open-popup-total-height: 113px;
$icon-open-popup-image: '/src/spritesmith-generated/sprite.png';
$icon-open-popup: (119px, 56px, -119px, -56px, 18px, 18px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-open-popup', );
$icon-order-name: 'icon-order';
$icon-order-x: 79px;
$icon-order-y: 21px;
$icon-order-offset-x: -79px;
$icon-order-offset-y: -21px;
$icon-order-width: 20px;
$icon-order-height: 22px;
$icon-order-total-width: 137px;
$icon-order-total-height: 113px;
$icon-order-image: '/src/spritesmith-generated/sprite.png';
$icon-order: (79px, 21px, -79px, -21px, 20px, 22px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-order', );
$icon-product-name: 'icon-product';
$icon-product-x: 40px;
$icon-product-y: 95px;
$icon-product-offset-x: -40px;
$icon-product-offset-y: -95px;
$icon-product-width: 20px;
$icon-product-height: 18px;
$icon-product-total-width: 137px;
$icon-product-total-height: 113px;
$icon-product-image: '/src/spritesmith-generated/sprite.png';
$icon-product: (40px, 95px, -40px, -95px, 20px, 18px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-product', );
$icon-report-name: 'icon-report';
$icon-report-x: 100px;
$icon-report-y: 60px;
$icon-report-offset-x: -100px;
$icon-report-offset-y: -60px;
$icon-report-width: 18px;
$icon-report-height: 20px;
$icon-report-total-width: 137px;
$icon-report-total-height: 113px;
$icon-report-image: '/src/spritesmith-generated/sprite.png';
$icon-report: (100px, 60px, -100px, -60px, 18px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-report', );
$icon-search-2-name: 'icon-search-2';
$icon-search-2-x: 0px;
$icon-search-2-y: 0px;
$icon-search-2-offset-x: 0px;
$icon-search-2-offset-y: 0px;
$icon-search-2-width: 31px;
$icon-search-2-height: 31px;
$icon-search-2-total-width: 137px;
$icon-search-2-total-height: 113px;
$icon-search-2-image: '/src/spritesmith-generated/sprite.png';
$icon-search-2: (0px, 0px, 0px, 0px, 31px, 31px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-search-2', );
$icon-search-name: 'icon-search';
$icon-search-x: 79px;
$icon-search-y: 0px;
$icon-search-offset-x: -79px;
$icon-search-offset-y: 0px;
$icon-search-width: 21px;
$icon-search-height: 21px;
$icon-search-total-width: 137px;
$icon-search-total-height: 113px;
$icon-search-image: '/src/spritesmith-generated/sprite.png';
$icon-search: (79px, 0px, -79px, 0px, 21px, 21px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-search', );
$icon-single-price-name: 'icon-single-price';
$icon-single-price-x: 119px;
$icon-single-price-y: 19px;
$icon-single-price-offset-x: -119px;
$icon-single-price-offset-y: -19px;
$icon-single-price-width: 18px;
$icon-single-price-height: 19px;
$icon-single-price-total-width: 137px;
$icon-single-price-total-height: 113px;
$icon-single-price-image: '/src/spritesmith-generated/sprite.png';
$icon-single-price: (119px, 19px, -119px, -19px, 18px, 19px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-single-price', );
$icon-star-2-name: 'icon-star-2';
$icon-star-2-x: 40px;
$icon-star-2-y: 75px;
$icon-star-2-offset-x: -40px;
$icon-star-2-offset-y: -75px;
$icon-star-2-width: 20px;
$icon-star-2-height: 20px;
$icon-star-2-total-width: 137px;
$icon-star-2-total-height: 113px;
$icon-star-2-image: '/src/spritesmith-generated/sprite.png';
$icon-star-2: (40px, 75px, -40px, -75px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-star-2', );
$icon-star-name: 'icon-star';
$icon-star-x: 57px;
$icon-star-y: 42px;
$icon-star-offset-x: -57px;
$icon-star-offset-y: -42px;
$icon-star-width: 14px;
$icon-star-height: 12px;
$icon-star-total-width: 137px;
$icon-star-total-height: 113px;
$icon-star-image: '/src/spritesmith-generated/sprite.png';
$icon-star: (57px, 42px, -57px, -42px, 14px, 12px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-star', );
$icon-support-name: 'icon-support';
$icon-support-x: 60px;
$icon-support-y: 75px;
$icon-support-offset-x: -60px;
$icon-support-offset-y: -75px;
$icon-support-width: 20px;
$icon-support-height: 20px;
$icon-support-total-width: 137px;
$icon-support-total-height: 113px;
$icon-support-image: '/src/spritesmith-generated/sprite.png';
$icon-support: (60px, 75px, -60px, -75px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-support', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 100px;
$icon-twitter-y: 80px;
$icon-twitter-offset-x: -100px;
$icon-twitter-offset-y: -80px;
$icon-twitter-width: 17px;
$icon-twitter-height: 14px;
$icon-twitter-total-width: 137px;
$icon-twitter-total-height: 113px;
$icon-twitter-image: '/src/spritesmith-generated/sprite.png';
$icon-twitter: (100px, 80px, -100px, -80px, 17px, 14px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-twitter', );
$icon-wordpress-name: 'icon-wordpress';
$icon-wordpress-x: 80px;
$icon-wordpress-y: 75px;
$icon-wordpress-offset-x: -80px;
$icon-wordpress-offset-y: -75px;
$icon-wordpress-width: 20px;
$icon-wordpress-height: 20px;
$icon-wordpress-total-width: 137px;
$icon-wordpress-total-height: 113px;
$icon-wordpress-image: '/src/spritesmith-generated/sprite.png';
$icon-wordpress: (80px, 75px, -80px, -75px, 20px, 20px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-wordpress', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 79px;
$icon-youtube-y: 63px;
$icon-youtube-offset-x: -79px;
$icon-youtube-offset-y: -63px;
$icon-youtube-width: 15px;
$icon-youtube-height: 12px;
$icon-youtube-total-width: 137px;
$icon-youtube-total-height: 113px;
$icon-youtube-image: '/src/spritesmith-generated/sprite.png';
$icon-youtube: (79px, 63px, -79px, -63px, 15px, 12px, 137px, 113px, '/src/spritesmith-generated/sprite.png', 'icon-youtube', );
$spritesheet-width: 137px;
$spritesheet-height: 113px;
$spritesheet-image: '/src/spritesmith-generated/sprite.png';
$spritesheet-sprites: ($icon-account, $icon-all-plugins, $icon-all, $icon-arrow-down-2, $icon-arrow-down, $icon-arrow-left, $icon-arrow-right, $icon-blog, $icon-bundle, $icon-cart-2, $icon-cart, $icon-checked-no, $icon-checked-yes, $icon-close, $icon-coupon, $icon-facebook, $icon-faq, $icon-filter, $icon-home, $icon-instagram, $icon-install, $icon-link-new-tab, $icon-linkedin, $icon-ok, $icon-open-popup, $icon-order, $icon-product, $icon-report, $icon-search-2, $icon-search, $icon-single-price, $icon-star-2, $icon-star, $icon-support, $icon-twitter, $icon-wordpress, $icon-youtube, );
$spritesheet: (137px, 113px, '/src/spritesmith-generated/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
