// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-account-name: 'icon-account';
$icon-account-x: 78px;
$icon-account-y: 40px;
$icon-account-offset-x: -78px;
$icon-account-offset-y: -40px;
$icon-account-width: 18px;
$icon-account-height: 20px;
$icon-account-total-width: 116px;
$icon-account-total-height: 106px;
$icon-account-image: '/src/spritesmith-generated/sprite.png';
$icon-account: (78px, 40px, -78px, -40px, 18px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-account', );
$icon-all-plugins-name: 'icon-all-plugins';
$icon-all-plugins-x: 0px;
$icon-all-plugins-y: 74px;
$icon-all-plugins-offset-x: 0px;
$icon-all-plugins-offset-y: -74px;
$icon-all-plugins-width: 20px;
$icon-all-plugins-height: 18px;
$icon-all-plugins-total-width: 116px;
$icon-all-plugins-total-height: 106px;
$icon-all-plugins-image: '/src/spritesmith-generated/sprite.png';
$icon-all-plugins: (0px, 74px, 0px, -74px, 20px, 18px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-all-plugins', );
$icon-all-name: 'icon-all';
$icon-all-x: 20px;
$icon-all-y: 74px;
$icon-all-offset-x: -20px;
$icon-all-offset-y: -74px;
$icon-all-width: 20px;
$icon-all-height: 18px;
$icon-all-total-width: 116px;
$icon-all-total-height: 106px;
$icon-all-image: '/src/spritesmith-generated/sprite.png';
$icon-all: (20px, 74px, -20px, -74px, 20px, 18px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-all', );
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 57px;
$icon-arrow-down-y: 42px;
$icon-arrow-down-offset-x: -57px;
$icon-arrow-down-offset-y: -42px;
$icon-arrow-down-width: 10px;
$icon-arrow-down-height: 6px;
$icon-arrow-down-total-width: 116px;
$icon-arrow-down-total-height: 106px;
$icon-arrow-down-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-down: (57px, 42px, -57px, -42px, 10px, 6px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-down', );
$icon-blog-name: 'icon-blog';
$icon-blog-x: 60px;
$icon-blog-y: 52px;
$icon-blog-offset-x: -60px;
$icon-blog-offset-y: -52px;
$icon-blog-width: 18px;
$icon-blog-height: 20px;
$icon-blog-total-width: 116px;
$icon-blog-total-height: 106px;
$icon-blog-image: '/src/spritesmith-generated/sprite.png';
$icon-blog: (60px, 52px, -60px, -52px, 18px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-blog', );
$icon-bundle-name: 'icon-bundle';
$icon-bundle-x: 22px;
$icon-bundle-y: 31px;
$icon-bundle-offset-x: -22px;
$icon-bundle-offset-y: -31px;
$icon-bundle-width: 23px;
$icon-bundle-height: 20px;
$icon-bundle-total-width: 116px;
$icon-bundle-total-height: 106px;
$icon-bundle-image: '/src/spritesmith-generated/sprite.png';
$icon-bundle: (22px, 31px, -22px, -31px, 23px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-bundle', );
$icon-cart-2-name: 'icon-cart-2';
$icon-cart-2-x: 0px;
$icon-cart-2-y: 31px;
$icon-cart-2-offset-x: 0px;
$icon-cart-2-offset-y: -31px;
$icon-cart-2-width: 22px;
$icon-cart-2-height: 21px;
$icon-cart-2-total-width: 116px;
$icon-cart-2-total-height: 106px;
$icon-cart-2-image: '/src/spritesmith-generated/sprite.png';
$icon-cart-2: (0px, 31px, 0px, -31px, 22px, 21px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-cart-2', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 57px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -57px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 21px;
$icon-cart-height: 21px;
$icon-cart-total-width: 116px;
$icon-cart-total-height: 106px;
$icon-cart-image: '/src/spritesmith-generated/sprite.png';
$icon-cart: (57px, 0px, -57px, 0px, 21px, 21px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-cart', );
$icon-coupon-name: 'icon-coupon';
$icon-coupon-x: 78px;
$icon-coupon-y: 20px;
$icon-coupon-offset-x: -78px;
$icon-coupon-offset-y: -20px;
$icon-coupon-width: 19px;
$icon-coupon-height: 20px;
$icon-coupon-total-width: 116px;
$icon-coupon-total-height: 106px;
$icon-coupon-image: '/src/spritesmith-generated/sprite.png';
$icon-coupon: (78px, 20px, -78px, -20px, 19px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-coupon', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 45px;
$icon-facebook-y: 31px;
$icon-facebook-offset-x: -45px;
$icon-facebook-offset-y: -31px;
$icon-facebook-width: 9px;
$icon-facebook-height: 16px;
$icon-facebook-total-width: 116px;
$icon-facebook-total-height: 106px;
$icon-facebook-image: '/src/spritesmith-generated/sprite.png';
$icon-facebook: (45px, 31px, -45px, -31px, 9px, 16px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-facebook', );
$icon-faq-name: 'icon-faq';
$icon-faq-x: 20px;
$icon-faq-y: 52px;
$icon-faq-offset-x: -20px;
$icon-faq-offset-y: -52px;
$icon-faq-width: 20px;
$icon-faq-height: 20px;
$icon-faq-total-width: 116px;
$icon-faq-total-height: 106px;
$icon-faq-image: '/src/spritesmith-generated/sprite.png';
$icon-faq: (20px, 52px, -20px, -52px, 20px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-faq', );
$icon-home-name: 'icon-home';
$icon-home-x: 98px;
$icon-home-y: 20px;
$icon-home-offset-x: -98px;
$icon-home-offset-y: -20px;
$icon-home-width: 18px;
$icon-home-height: 19px;
$icon-home-total-width: 116px;
$icon-home-total-height: 106px;
$icon-home-image: '/src/spritesmith-generated/sprite.png';
$icon-home: (98px, 20px, -98px, -20px, 18px, 19px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-home', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 76px;
$icon-instagram-y: 74px;
$icon-instagram-offset-x: -76px;
$icon-instagram-offset-y: -74px;
$icon-instagram-width: 15px;
$icon-instagram-height: 16px;
$icon-instagram-total-width: 116px;
$icon-instagram-total-height: 106px;
$icon-instagram-image: '/src/spritesmith-generated/sprite.png';
$icon-instagram: (76px, 74px, -76px, -74px, 15px, 16px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-instagram', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 0px;
$icon-linkedin-y: 92px;
$icon-linkedin-offset-x: 0px;
$icon-linkedin-offset-y: -92px;
$icon-linkedin-width: 15px;
$icon-linkedin-height: 14px;
$icon-linkedin-total-width: 116px;
$icon-linkedin-total-height: 106px;
$icon-linkedin-image: '/src/spritesmith-generated/sprite.png';
$icon-linkedin: (0px, 92px, 0px, -92px, 15px, 14px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-linkedin', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 40px;
$icon-ok-y: 52px;
$icon-ok-offset-x: -40px;
$icon-ok-offset-y: -52px;
$icon-ok-width: 20px;
$icon-ok-height: 20px;
$icon-ok-total-width: 116px;
$icon-ok-total-height: 106px;
$icon-ok-image: '/src/spritesmith-generated/sprite.png';
$icon-ok: (40px, 52px, -40px, -52px, 20px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-ok', );
$icon-open-popup-name: 'icon-open-popup';
$icon-open-popup-x: 98px;
$icon-open-popup-y: 58px;
$icon-open-popup-offset-x: -98px;
$icon-open-popup-offset-y: -58px;
$icon-open-popup-width: 18px;
$icon-open-popup-height: 18px;
$icon-open-popup-total-width: 116px;
$icon-open-popup-total-height: 106px;
$icon-open-popup-image: '/src/spritesmith-generated/sprite.png';
$icon-open-popup: (98px, 58px, -98px, -58px, 18px, 18px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-open-popup', );
$icon-order-name: 'icon-order';
$icon-order-x: 0px;
$icon-order-y: 52px;
$icon-order-offset-x: 0px;
$icon-order-offset-y: -52px;
$icon-order-width: 20px;
$icon-order-height: 22px;
$icon-order-total-width: 116px;
$icon-order-total-height: 106px;
$icon-order-image: '/src/spritesmith-generated/sprite.png';
$icon-order: (0px, 52px, 0px, -52px, 20px, 22px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-order', );
$icon-product-name: 'icon-product';
$icon-product-x: 40px;
$icon-product-y: 74px;
$icon-product-offset-x: -40px;
$icon-product-offset-y: -74px;
$icon-product-width: 20px;
$icon-product-height: 18px;
$icon-product-total-width: 116px;
$icon-product-total-height: 106px;
$icon-product-image: '/src/spritesmith-generated/sprite.png';
$icon-product: (40px, 74px, -40px, -74px, 20px, 18px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-product', );
$icon-report-name: 'icon-report';
$icon-report-x: 98px;
$icon-report-y: 0px;
$icon-report-offset-x: -98px;
$icon-report-offset-y: 0px;
$icon-report-width: 18px;
$icon-report-height: 20px;
$icon-report-total-width: 116px;
$icon-report-total-height: 106px;
$icon-report-image: '/src/spritesmith-generated/sprite.png';
$icon-report: (98px, 0px, -98px, 0px, 18px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-report', );
$icon-search-2-name: 'icon-search-2';
$icon-search-2-x: 0px;
$icon-search-2-y: 0px;
$icon-search-2-offset-x: 0px;
$icon-search-2-offset-y: 0px;
$icon-search-2-width: 31px;
$icon-search-2-height: 31px;
$icon-search-2-total-width: 116px;
$icon-search-2-total-height: 106px;
$icon-search-2-image: '/src/spritesmith-generated/sprite.png';
$icon-search-2: (0px, 0px, 0px, 0px, 31px, 31px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-search-2', );
$icon-search-name: 'icon-search';
$icon-search-x: 57px;
$icon-search-y: 21px;
$icon-search-offset-x: -57px;
$icon-search-offset-y: -21px;
$icon-search-width: 21px;
$icon-search-height: 21px;
$icon-search-total-width: 116px;
$icon-search-total-height: 106px;
$icon-search-image: '/src/spritesmith-generated/sprite.png';
$icon-search: (57px, 21px, -57px, -21px, 21px, 21px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-search', );
$icon-single-price-name: 'icon-single-price';
$icon-single-price-x: 98px;
$icon-single-price-y: 39px;
$icon-single-price-offset-x: -98px;
$icon-single-price-offset-y: -39px;
$icon-single-price-width: 18px;
$icon-single-price-height: 19px;
$icon-single-price-total-width: 116px;
$icon-single-price-total-height: 106px;
$icon-single-price-image: '/src/spritesmith-generated/sprite.png';
$icon-single-price: (98px, 39px, -98px, -39px, 18px, 19px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-single-price', );
$icon-support-name: 'icon-support';
$icon-support-x: 78px;
$icon-support-y: 0px;
$icon-support-offset-x: -78px;
$icon-support-offset-y: 0px;
$icon-support-width: 20px;
$icon-support-height: 20px;
$icon-support-total-width: 116px;
$icon-support-total-height: 106px;
$icon-support-image: '/src/spritesmith-generated/sprite.png';
$icon-support: (78px, 0px, -78px, 0px, 20px, 20px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-support', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 78px;
$icon-twitter-y: 60px;
$icon-twitter-offset-x: -78px;
$icon-twitter-offset-y: -60px;
$icon-twitter-width: 17px;
$icon-twitter-height: 14px;
$icon-twitter-total-width: 116px;
$icon-twitter-total-height: 106px;
$icon-twitter-image: '/src/spritesmith-generated/sprite.png';
$icon-twitter: (78px, 60px, -78px, -60px, 17px, 14px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-twitter', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 15px;
$icon-youtube-y: 92px;
$icon-youtube-offset-x: -15px;
$icon-youtube-offset-y: -92px;
$icon-youtube-width: 15px;
$icon-youtube-height: 12px;
$icon-youtube-total-width: 116px;
$icon-youtube-total-height: 106px;
$icon-youtube-image: '/src/spritesmith-generated/sprite.png';
$icon-youtube: (15px, 92px, -15px, -92px, 15px, 12px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-youtube', );
$icon-arrow-left-name: 'icon-arrow-left';
$icon-arrow-left-x: 98px;
$icon-arrow-left-y: 76px;
$icon-arrow-left-offset-x: -98px;
$icon-arrow-left-offset-y: -76px;
$icon-arrow-left-width: 16px;
$icon-arrow-left-height: 16px;
$icon-arrow-left-total-width: 116px;
$icon-arrow-left-total-height: 106px;
$icon-arrow-left-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-left: (98px, 76px, -98px, -76px, 16px, 16px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-left', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 60px;
$icon-arrow-right-y: 74px;
$icon-arrow-right-offset-x: -60px;
$icon-arrow-right-offset-y: -74px;
$icon-arrow-right-width: 16px;
$icon-arrow-right-height: 16px;
$icon-arrow-right-total-width: 116px;
$icon-arrow-right-total-height: 106px;
$icon-arrow-right-image: '/src/spritesmith-generated/sprite.png';
$icon-arrow-right: (60px, 74px, -60px, -74px, 16px, 16px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-arrow-right', );
$icon-close-name: 'icon-close';
$icon-close-x: 31px;
$icon-close-y: 0px;
$icon-close-offset-x: -31px;
$icon-close-offset-y: 0px;
$icon-close-width: 26px;
$icon-close-height: 26px;
$icon-close-total-width: 116px;
$icon-close-total-height: 106px;
$icon-close-image: '/src/spritesmith-generated/sprite.png';
$icon-close: (31px, 0px, -31px, 0px, 26px, 26px, 116px, 106px, '/src/spritesmith-generated/sprite.png', 'icon-close', );
$spritesheet-width: 116px;
$spritesheet-height: 106px;
$spritesheet-image: '/src/spritesmith-generated/sprite.png';
$spritesheet-sprites: ($icon-account, $icon-all-plugins, $icon-all, $icon-arrow-down, $icon-blog, $icon-bundle, $icon-cart-2, $icon-cart, $icon-coupon, $icon-facebook, $icon-faq, $icon-home, $icon-instagram, $icon-linkedin, $icon-ok, $icon-open-popup, $icon-order, $icon-product, $icon-report, $icon-search-2, $icon-search, $icon-single-price, $icon-support, $icon-twitter, $icon-youtube, $icon-arrow-left, $icon-arrow-right, $icon-close, );
$spritesheet: (116px, 106px, '/src/spritesmith-generated/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
