// WPFactory menu on admin
#adminmenu .toplevel_page_crb_carbon_fields_container_wpfactory_settings, #adminmenu .toplevel_page_wpft {
  div.wp-menu-image img {
    width: 21px;
    //filter: brightness(1000) contrast(200%);
  }

  &.current{
    div.wp-menu-image img {
      opacity:1;
    }
  }
}

// Nav menu items
#update-nav-menu{
  .cf-container {
    .cf-field{
      padding:0 0 10px 0;
    }
    .cf-field__label{
     font-weight:normal;
      color:#646970;
      padding:0;
    }
    .cf-text,.cf-field{
      border:none;
    }
  }

}

// Carbon fields separator
.cf-field.cf-separator h3{
  margin:3px 0;
}

// Carbon fields tabs
.cf-container__tabs-list .cf-container__tabs-item{
  font-size:14px !important;
  /*font-weight:600*/
}
.cf-container__tabs-list .cf-container__tabs-item button{
  padding:5px 10px;
}

// Carbon field select type
.cf-container {
  .wp-core-ui select , .cf-select__input{
    width: 100%;
    max-width: none;
  }
}